<div class="header-header30 thq-section-padding">
  <img [attr.alt]="image1Alt" [attr.src]="image1Src" class="header-image1" />
  <div class="header-container1"></div>
  <div class="header-max-width thq-section-max-width">
    <div class="header-content">
      <div class="header-container2">
        <img
          [attr.alt]="imageAlt2"
          [attr.src]="imageSrc2"
          class="header-image2"
        />
        <div class="header-container3">
          <h1 class="header-text1 thq-heading-1">{{ heading1 }}</h1>
          <p class="header-text2 thq-body-large">{{ content1 }}</p>
          <div class="header-actions">
            <a href="#Services" class="header-button1 thq-button-filled">
              <span class="header-text3 thq-body-small">{{ action1 }}</span>
            </a>
            <a href="#Contact" class="header-button2 thq-button-outline">
              <span class="header-text4 thq-body-small">{{ action2 }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
