<div id="Contact" class="contact-info-contact20 thq-section-padding">
  <div class="contact-info-max-width thq-section-max-width">
    <div class="contact-info-section-title">
      <span class="thq-body-small">{{ content2 }}</span>
      <div class="contact-info-content1">
        <h2 class="thq-heading-2">{{ heading1 }}</h2>
        <p class="contact-info-text3 thq-body-large">{{ content1 }}</p>
      </div>
    </div>
    <div class="contact-info-row">
      <div class="contact-info-content2">
        <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
          <path
            d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
          ></path>
        </svg>
        <div class="contact-info-contact-info1">
          <div class="contact-info-content3">
            <h3 class="contact-info-text4 thq-heading-3">Email</h3>
            <p class="contact-info-text5 thq-body-large">{{ content3 }}</p>
          </div>
          <span class="contact-info-email thq-body-small">
            {{ clientContactEmail }}
          </span>
        </div>
      </div>
      <div class="contact-info-content4">
        <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
          <path
            d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
          ></path>
        </svg>
        <div class="contact-info-contact-info2">
          <div class="contact-info-content5">
            <h3 class="contact-info-text6 thq-heading-3">Phone</h3>
            <p class="contact-info-text7 thq-body-large">{{ content4 }}</p>
          </div>
          <span class="contact-info-phone thq-body-small">
            {{ sabrinaPhone }}
          </span>
        </div>
      </div>
      <div class="contact-info-content6">
        <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
          <path
            d="M512 0c-176.732 0-320 143.268-320 320 0 320 320 704 320 704s320-384 320-704c0-176.732-143.27-320-320-320zM512 512c-106.040 0-192-85.96-192-192s85.96-192 192-192 192 85.96 192 192-85.96 192-192 192z"
          ></path>
        </svg>
        <div class="contact-info-contact-info3">
          <div class="contact-info-content7">
            <h3 class="contact-info-text8 thq-heading-3">Office</h3>
            <p class="contact-info-text9 thq-body-large">{{ content5 }}</p>
          </div>
          <span class="contact-info-address thq-body-small">
            {{ mailingAddress }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
