<header id="Top" class="top-navigation-container">
  <header data-thq="thq-navbar" class="top-navigation-navbar-interactive">
    <div data-thq="thq-navbar-nav" class="top-navigation-desktop-menu">
      <nav class="top-navigation-links1">
        <span class="thq-link thq-body-small">{{ link1 }}</span>
        <a
          href="#Services"
          class="top-navigation-link21 thq-link thq-body-small"
        >
          {{ link2 }}
        </a>
        <a href="#Values" class="top-navigation-link51">{{ link5 }}</a>
        <a href="#About" class="top-navigation-link31 thq-link thq-body-small">
          {{ link3 }}
        </a>
        <a
          href="#Contact"
          class="top-navigation-link41 thq-link thq-body-small"
        >
          {{ link4 }}
        </a>
      </nav>
      <div class="top-navigation-buttons1">
        <a
          href="mailto:info@8bitinsights.com?subject=Contact Request"
          name="emailUs"
          class="top-navigation-email-us1 thq-button-filled thq-button-animated"
        >
          <span class="top-navigation-email-us2 thq-body-small">Email Us</span>
        </a>
        <a
          href="tel:+12316311073"
          class="top-navigation-action21 thq-button-outline thq-button-animated"
        >
          <span class="thq-body-small">Call Us</span>
        </a>
      </div>
    </div>
    <div data-thq="thq-burger-menu" class="top-navigation-burger-menu">
      <svg viewBox="0 0 1024 1024" class="top-navigation-icon1">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-thq="thq-mobile-menu" class="top-navigation-mobile-menu">
      <div class="top-navigation-nav">
        <div class="top-navigation-top">
          <img
            [attr.alt]="logoAlt"
            [attr.src]="logoSrc"
            class="top-navigation-logo"
          />
          <div data-thq="thq-close-menu" class="top-navigation-close-menu">
            <svg viewBox="0 0 1024 1024" class="top-navigation-icon3">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <nav class="top-navigation-links2">
          <span class="thq-link thq-body-small">{{ link1 }}</span>
          <span class="thq-link thq-body-small">{{ link2 }}</span>
          <span class="thq-link thq-body-small">{{ link3 }}</span>
          <span class="thq-link thq-body-small">{{ link4 }}</span>
          <span class="thq-link thq-body-small">{{ link5 }}</span>
        </nav>
      </div>
      <div class="top-navigation-buttons2">
        <button class="thq-button-filled">{{ action1 }}</button>
        <button class="thq-button-outline">Register</button>
      </div>
    </div>
  </header>
</header>
