<div class="home-container">
  <top-navigation logoSrc="/assets/final-1400w.png"></top-navigation>
  <app-header></app-header>
  <market-edge>
    <ng-template #feature1Title1>
      <div class="home-fragment10">
        <span class="home-feature1-title thq-heading-3">
          <span>Customized Data</span>
          <br />
          <span>Solutions</span>
        </span>
      </div>
    </ng-template>
  </market-edge>
  <app-values>
    <ng-template #feature1Title>
      <div class="home-fragment11">
        <span class="home-text13 thq-heading-2">
          Empowered &amp; Accountable
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Title>
      <div class="home-fragment12">
        <span class="home-text14 thq-heading-2">Put People First</span>
      </div>
    </ng-template>
    <ng-template #feature3Title>
      <div class="home-fragment13">
        <span class="home-text15 thq-heading-2">Earn Respect &amp; Trust</span>
      </div>
    </ng-template>
    <ng-template #feature1Title3>
      <div class="home-fragment14">
        <span class="home-text16 thq-heading-2">Elevate our Communities</span>
      </div>
    </ng-template>
    <ng-template #feature2Title2>
      <div class="home-fragment15">
        <span class="home-text17 thq-heading-2">Excellence with Humility</span>
      </div>
    </ng-template>
    <ng-template #feature3Title4>
      <div class="home-fragment16">
        <span class="home-text18 thq-heading-2">Evolving &amp; Innovative</span>
      </div>
    </ng-template>
    <ng-template #feature3Title6>
      <div class="home-fragment17">
        <span class="home-text19 thq-heading-2">
          Embrace an Ownership Mentality
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Title42>
      <div class="home-fragment18">
        <span class="home-text20 thq-heading-2">Equity and Inclusion</span>
      </div>
    </ng-template>
    <ng-template #feature1Description>
      <div class="home-fragment19">
        <span class="home-text21 thq-body-small">
          autonomy, authority, enabled
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Description>
      <div class="home-fragment20">
        <span class="home-text22 thq-body-small">
          employee growth, happiness, and support
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Description>
      <div class="home-fragment21">
        <span class="home-text23 thq-body-small">
          act with integrity and transparency
        </span>
      </div>
    </ng-template>
    <ng-template #feature1Description3>
      <div class="home-fragment22">
        <span class="home-text24 thq-body-small">
          mindfully choose our business and giving partners to positively impact
          the world
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Description2>
      <div class="home-fragment23">
        <span class="home-text25 thq-body-small">
          be exceptional and be humble
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Description4>
      <div class="home-fragment24">
        <span class="home-text26 thq-body-small">
          embrace learning and growth
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Description6>
      <div class="home-fragment25">
        <span class="home-text27 thq-body-small">
          successes and challenges faced together
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Description42>
      <div class="home-fragment26">
        <span class="home-text28 thq-body-small">
          embrace diversity and lived experiences
        </span>
      </div>
    </ng-template>
  </app-values>
  <about-us>
    <ng-template #member1>
      <div class="home-fragment27">
        <span class="home-text29 thq-body-small">Sabrina Jordan</span>
      </div>
    </ng-template>
    <ng-template #member2>
      <div class="home-fragment28">
        <span class="home-text30 thq-body-small">Jane Smith</span>
      </div>
    </ng-template>
    <ng-template #member3>
      <div class="home-fragment29">
        <span class="home-text31 thq-body-small">Alex Johnson</span>
      </div>
    </ng-template>
    <ng-template #member4>
      <div class="home-fragment30">
        <span class="home-text32 thq-body-small">Sarah Lee</span>
      </div>
    </ng-template>
    <ng-template #member5>
      <div class="home-fragment31">
        <span class="home-text33 thq-body-small">Michael Brown</span>
      </div>
    </ng-template>
    <ng-template #member6>
      <div class="home-fragment32">
        <span class="home-text34 thq-body-small">Emily Davis</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment33">
        <span class="home-text35 thq-heading-2">
          Meet our team of employee-owners
        </span>
      </div>
    </ng-template>
    <ng-template #content11>
      <div class="home-fragment34">
        <span class="home-text36 thq-body-small">
          Join our team and own your career!
        </span>
      </div>
    </ng-template>
    <ng-template #member1Job>
      <div class="home-fragment35">
        <span class="home-text37 thq-body-small">Architect, Founder</span>
      </div>
    </ng-template>
    <ng-template #member2Job>
      <div class="home-fragment36">
        <span class="home-text38 thq-body-small">Data Analyst</span>
      </div>
    </ng-template>
    <ng-template #member3Job>
      <div class="home-fragment37">
        <span class="home-text39 thq-body-small">
          Business Intelligence Specialist
        </span>
      </div>
    </ng-template>
    <ng-template #member4Job>
      <div class="home-fragment38">
        <span class="home-text40 thq-body-small">Data Engineer</span>
      </div>
    </ng-template>
    <ng-template #member5Job>
      <div class="home-fragment39">
        <span class="home-text41 thq-body-small">
          Machine Learning Engineer
        </span>
      </div>
    </ng-template>
    <ng-template #member6Job>
      <div class="home-fragment40">
        <span class="home-text42 thq-body-small">
          Data Visualization Specialist
        </span>
      </div>
    </ng-template>
    <ng-template #actionContent1>
      <div class="home-fragment41">
        <span class="home-text43 thq-body-small">Open positions</span>
      </div>
    </ng-template>
    <ng-template #member1Content>
      <div class="home-fragment42">
        <span class="home-text44 thq-body-small">
          Sabrina is a self-driven futurist and strategist with over a decade of
          modern data platform and business intelligence experience. She is
          highly motivated to build strong organizational relationships, uncover
          efficiencies, and deliver multi-faceted technology projects that
          exceed expectations. In addition, she focuses on meeting tight
          deadlines and applying creative and elegant solutions to
          organizational challenges. Sabrina’s technical skillset combined with
          her ability to collaborate with business executives &amp; stakeholders
          around driving actionable insight, data strategy, processes and
          project management have allowed her to complete highly successful
          engagements.
        </span>
      </div>
    </ng-template>
    <ng-template #member2Content>
      <div class="home-fragment43">
        <span class="home-text45 thq-body-small">
          Jane excels in analyzing data trends and patterns to support strategic
          decision-making.
        </span>
      </div>
    </ng-template>
    <ng-template #member3Content>
      <div class="home-fragment44">
        <span class="home-text46 thq-body-small">
          Alex leverages data visualization techniques to communicate key
          findings effectively.
        </span>
      </div>
    </ng-template>
    <ng-template #member4Content>
      <div class="home-fragment45">
        <span class="home-text47 thq-body-small">
          Sarah ensures data pipelines are optimized for efficient processing
          and analysis.
        </span>
      </div>
    </ng-template>
    <ng-template #member5Content>
      <div class="home-fragment46">
        <span class="home-text48 thq-body-small">
          Michael develops advanced algorithms to drive predictive analytics and
          machine learning models.
        </span>
      </div>
    </ng-template>
    <ng-template #member6Content>
      <div class="home-fragment47">
        <span class="home-text49 thq-body-small">
          Emily creates visually engaging dashboards to present data insights in
          a compelling way.
        </span>
      </div>
    </ng-template>
  </about-us>
  <contact-info></contact-info>
  <app-footer>
    <ng-template #link1>
      <div class="home-fragment48">
        <span class="home-text50 thq-body-small">About Us</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment49">
        <span class="home-text51 thq-body-small">Services</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment50">
        <span class="home-text52 thq-body-small">Values</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment51">
        <span class="home-text53 thq-body-small">Contact</span>
      </div>
    </ng-template>
    <ng-template #link5>
      <div class="home-fragment52">
        <span class="home-text54 thq-body-small">Home</span>
      </div>
    </ng-template>
  </app-footer>
</div>
